.contact-form {
    padding: 20px 0;
    background-image: linear-gradient(white, #2f4858);
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        display: block;
        margin-bottom: 5px;
        font-family:
            DM Sans,
            sans-serif;
    }

    & input,
    textarea {
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    & button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        width: 100%;

        & input,
        textarea {
            width: 100%;
        }

        & button {
            width: 60%;
            align-self: center;
        }
    }
}
