.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d1e3ee;
    background-image: linear-gradient(#2f4858, #496373);
    margin-top: 7em;

    &__subtitle {
        width: 60%;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: 6em;
    }
}
